<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to <%= @user.business_name %></title>
</head>
<body>
  <h1>Welcome to <%= @user.business_name %>, <%= @user.firstname %></h1>
  <p>
    We are delighted to welcome you to our team at <%= @user.business_name %>! You have successfully been registered on our website.
  </p>
  <p>
    Your login details are as follows:
    <br>
    Username: <%= @user.lastname %>
    <br>
    Password: password
  </p>
  <p>
    You can log in to our website using the following link:
    <a href="http://localhost:4000/">localhost</a>
  </p>
  <p>
    If you have any questions or need assistance, please don‘t hesitate to contact us. We look forward to working with you and wish you success in your new role!
  </p>
  <p>
    Best regards,
    <br>
    The <%= @user.business_name %> Team
  </p>
</body>
</html>
